NODE_ENV= # local | development | production
PORT=
AWS_SNS_ACCESS_KEY=
AWS_SNS_SECRET=
JWT_SECRET=
OAUTH_SECRET=
SMS_GATEWAY=
SMS_GATEWAY_SECRET=
AWS_KINESIS_ACCESS_KEY=
AWS_KINESIS_SECRET=
ACTIVATE_CORS=true
SEND_SMS=false
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PROJECT_ID=